<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Post</title>
</head>

<body>
  
  <h1>Post a New Book</h1>
  <form action="/posts" method="post">
    <section>
      <label for="book-title">Book Title:</label>
      <input type="text" id="book-title" placeholder="Title" name="book-title">
    </section>
    <section>
      <label for="book-sum">Book Summary</label>
      <br>
      <textarea name="book-sum" id="book-sum" cols="30" rows="10"></textarea>
    </section>
    <button>Submit</button>
  </form>
  <a href="/posts">Back to Index</a>

</body>

</html>