<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>This is the Home Page <%= 4 +5 +2 %> </h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias ratione tenetur veritatis obcaecati aliquid numquam nesciunt molestiae fugiat similique! Dolorum recusandae quia ipsa eos repudiandae est quidem itaque officia ratione?</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem beatae delectus in commodi similique aut quas aliquam soluta fugiat adipisci voluptates modi pariatur aperiam ullam consequatur inventore, hic eveniet corporis.</p>
  
</body>
</html>